.logo {
    width: 20vh;
}

/* #offcanvasNavbarLabel{
               font-family: 'Pattaya', sans-serif;
               font-size: 1.8rem;
               
 
}
.nav-item{
   font-family: 'Pattaya', sans-serif;
   font-size: 1.3rem;
}
.offcanvas ,.offcanvas-end{
    background-color:purple;
} */
.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
    height: 86vh;

}

.main-nav.is-open {
    height: 100vh;
    opacity: 1;
    z-index: 100;
    visibility: visible;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #eee, #ddd);


}


.main-nav::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    /* background: url(../img/womenbig.jpg);
            background-size: 900px; */
    background: linear-gradient(to right, #fdfc47, #24fe41);
    /* background: #FEDC2A; */
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}


.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}


.main-nav a {
    opacity: 0;
    transform: translateY(-100px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}

.main-nav li:nth-child(1) a {
    transition: all 275ms 175ms
}

.main-nav li:nth-child(2) a {
    transition: all 276ms 225ms
}

.main-nav li:nth-child(3) a {
    transition: all 277ms 275ms
}

.main-nav li:nth-child(4) a {
    transition: all 278ms 325ms
}

.main-nav li:nth-child(5) a {
    transition: all 279ms 375ms
}

.main-nav li:nth-child(6) a {
    transition: all 279ms 425ms
}


.main-nav ul,
.main-nav li {
    list-style: none;
    padding: 0;
}

.main-nav a {
    display: block;
    padding: 12px 0;
    color: #180333;
    font-size: 1.8em;
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;

}

.open-main-nav {
    position: absolute;
    top: 15px;
    padding-top: 20px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
}

.open-main-nav:focus {
    outline: none;
}

.burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: #dad6df;
    transform: skew(20deg);
    transition: all .1000s;
}

.burger:after,
.burger:before {
    content: '';
    display: block;
    height: 100%;
    background: #dad6df;
    transition: all .275s;
}

.burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
    transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/* MENU Text part */

.burger-text {
    display: block;
    font-size: .675rem;
    letter-spacing: .05em;
    margin-top: .5em;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Roboto';
    text-align: center;
    color: #5A3B5D;
}

@include desktop {
    .device {
        display: none;
    }

    .logo-b {
        width: 10vh;
        filter: grayscale(0.5);
    }

    .desk-nav {
        position: fixed;
        z-index: 80000000000000;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 40px 100px;

        &.sticky {
            padding: 5px 100px;
            background-color: rgb(203, 178, 231);
        }

        .d-logo {
            position: relative;
            text-decoration: none;
            /* text-transform: uppercase; */
            transition: 0.6s;

        }


        .desk-nav-ul {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;

            li {
                position: relative;
                list-style: none;

                a {
                    position: relative;
                    margin: 0 15px;
                    text-decoration: none;
                    color: rgb(214, 205, 205);
                    letter-spacing: 1px;
                    /* font-weight: 500px; */
                    transition: 0.6s;
                    font-family: 'Pattaya';
                    font-size: 1.5rem;

                }
            }
        }


    }


    .banner {
        position: relative;
        width: 100%;
        /* height: 100vh;
                background:url(../img/bgc4.png);
               background-size: cover;  */
    }

    .desk-nav.sticky .d-logo,
    .desk-nav.sticky ul li a {
        color: #000;
    }

}

@include mobile {
    .desk-nav {
        display: none;
    }
}