.thank{
    width: 100vw;
    height: 100vh;
     background-color: #20002cc4;
     border-radius: 35px 2px;
     margin: 0 auto;
     padding: 50px 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    }
    h4{
        color:rgb(2, 5, 8);
        font-family: 'Pattaya';
        font-size: 2em;
    }